

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#env
.env
*storybook.log

# Storybook cache
.storybook-cache/

# Storybook static build files
storybook-static/
stories
.storybook
.vercel


# TypeScript 빌드 정보 파일 무시
tsconfig.tsbuildinfo

# cypress
cypress/videos
cypress/screenshots

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
