

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#env
.env
*storybook.log

# Storybook cache
.storybook-cache/

# Storybook static build files
storybook-static/
stories
.storybook
.vercel
