.react-calendar__month-view__weekdays {
  @apply text-center no-underline; /* Tailwind의 유틸리티 클래스를 적용 */
}
.react-calendar__navigation {
  @apply flex;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  @apply hidden;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  @apply text-3xl;
}

.react-calendar__tile
  react-calendar__tile--now
  react-calendar__month-view__days__day
  highlight {
  @apply bg-black;
}
abbr {
  @apply no-underline;
}
.react-calendar {
  @apply bg-white border-[2px] border-[#59996B] rounded-[20px] p-5 focus:border-none;
}

.sunday {
  @apply text-red-500 font-bold; /* 일요일은 빨간색, 굵은 텍스트 */
}

.saturday {
  @apply text-blue-500 font-bold; /* 토요일은 파란색, 굵은 텍스트 */
}

/* React Calendar의 기본 focus 제거 */
.react-calendar button:focus {
  outline: none; /* 기본 아웃라인 제거 */
  border: none; /* 필요 시 border도 제거 */
  box-shadow: none; /* 필요 시 box-shadow도 제거 */
}
